.main__list__container{
    padding: 0 100px;
    overflow: hidden;
}

.main__discover--text{
     display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main__discover--text h2{
    padding: 0;
}

.plans__contents__slider{
    align-self: center;
    overflow: hidden;
}

.plans__contents{
    margin:48px 0 0;
}
